header {
  border: 1px solid black;
  width: 100%;
  height: auto;
  background-color: #E3000B;
  display: flex;
  justify-content:start;
  align-items: center;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: yellow;
}

#burgerMenu {
  background: none;
  border: none;
  cursor: default;
}

.buttons {
	font-size: large;
	color: black;
}

img {
  width: 100px;
  height: 100px;
}
